
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="~/Content/jtable240/themes/lightcolor/blue/jtable.min.css" />
}
<div class="page-header">
    <h1>
        Bank
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            overview &amp; stats
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <i class="ace-icon fa fa-check green"></i>

        <strong class="green">
            Data Pajak Terutang
            <small>(v1.0)</small>
        </strong>,
        Laman ini memuat data wajib pajak serta hasil perekaman
    </div>


    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        @*<form class="form-horizontal">
                                <div class="form-group">
                                    <label for="noktp" class="col-md-2 control-label">
                                        NOP
                                        <span class='require'>*</span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" name="nop" id="nop" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="month" class="col-md-2 control-label">
                                        Bulan
                                        <span class='require'>*</span>
                                    </label>
                                    <div class="col-md-4">
                                        <select id="month" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="year" class="col-md-2 control-label">
                                        Tahun
                                        <span class='require'>*</span>
                                    </label>
                                    <div class="col-md-4">
                                        <select id="year" class="form-control">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-actions text-right pal">
                                    <input type="button" id="btnFilter" class="btn btn-sm btn-success" value="Search" />
                                </div>
                            </form>*@
                    </div>
                    <div id="DataBayarTableContainer"></div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- PAGE CONTENT ENDS -->
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/jtable240/jquery.jtable.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DataBayarTableContainer').jtable({
                title: 'List Data Pajak Terutang',
                paging: true, //Enable paging
                //pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Name ASC', //Set default sorting
                //openChildAsAccordion: true, //Enable this line to show child tabes as accordion style
                actions: {
                    listAction: '/Bank/GetDataPembayaranBank'
                    //deleteAction: '/Demo/DeleteStudent',
                    //updateAction: '/Demo/UpdateStudent',
                    //createAction: '/Demo/CreateStudent")'
                },
                toolbar: {
                    items: [{
                        tooltip: 'Download PDF',
                        text: 'Export to PDF',
                        click: function (transData) {
                            //use window.location.href for redirect to download action for download the file
                            window.location.href = "@Url.RouteUrl(new
                        { Controller = "Bank", Action = "ExportDetailToPdf" })";

                            //DownloadExcelDetail(transData.record.StrTanggal, transData.record.Nop);
                        }
                    }]
                },
                fields: {
                    Id_Sptpd: {
                        title: 'ID SPTPD',
                        key: true
                    },
                    Id_Bayar: {
                        title: 'ID Bayar',
                        key: true
                    },
                    NamaOp: {
                        title : 'Nama'
                    },
                    Username: {
                        title: 'Username',
                        list : false
                    },
                    MasaPajak: {
                        title: 'Masa Pajak'
                    },
                    Tahun: {
                        title: 'Tahun'
                    },
                    StrPajak: {
                        title: 'Pajak',
                        listClass: 'right',
                        list: false
                    },
                    Sanksi: {
                        title: 'Sanksi',
                        listClass: 'right',
                        list: false
                    },
                    StrTotal: {
                        title: 'Total Pembayaran',
                        listClass: 'right'
                    },
                    Is_Active: {
                        list: false
                    },
                    Kode_Bank: {
                        list: false
                    }
                }
            })
            $('#DataBayarTableContainer').jtable('load');
        });

        function DownloadPdfDetail(kdbank) {
            $.ajax({
                url: "/Bank/ExportDetailToPdf",
                type: 'POST',
                dataType: 'JSON',
                success: function (e) {

                }
            });
        }
    </script>
}

