@model POWebClient.Models.JatuhTempoViewModels
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="~/Content/jtable240/themes/lightcolor/blue/jtable.min.css" />
    <style>
        .nop {
            white-space: nowrap;
            /*width: 8em;*/
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}
<div class="page-header">
    <h1>
        Dashboard
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            overview &amp; stats
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <i class="ace-icon fa fa-check green"></i>

        <strong class="green">
            Dashboard Pajak Online
            <small>(v1.0)</small>
        </strong>,
        Laman ini memuat data wajib pajak serta hasil perekaman
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="noktp" class="col-md-2 control-label">
                                    NOP
                                    <span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    @{
                                        string role = Session["Nama_Role"].ToString();
                                        if (string.Compare(role, "USER") == 0)
                                        {
                                            <select id="nop" name="nop" class="form-control"></select>
                                        }
                                        else
                                        {
                                            <input type="text" id="nop" class="form-control" />
                                        }
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="month" class="col-md-2 control-label">
                                    Bulan
                                    <span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <select id="month" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="year" class="col-md-2 control-label">
                                    Tahun
                                    <span class='require'>*</span>
                                </label>
                                <div class="col-md-4">
                                    <select id="year" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-actions text-right pal">
                                <input type="button" id="btnFilter" class="btn btn-sm btn-success" value="Search" />
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="text-right">
                                            <input type="button" id="btnExportExcel" class="btn btn-sm btn-success" value="Export to Excel" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="TableTransactionContainer"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">
                                            <h3>
                                                <strong>
                                                    <span>Total Pembayaran : </span>
                                                    <span id="totalbayar"></span>
                                                </strong>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- PAGE CONTENT ENDS -->
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/jtable240/jquery.jtable.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var nop = '';
            var month = '';
            var year = '';

            $('#btnFilter').click(function () {
               nop = $('#nop').val();
               month = $('#month').val();
               year = $('#year').val();
                $('#TableTransactionContainer').jtable('load', { nop: nop, month: month, year: year });
            });

            $('#btnExportExcel').click(function (e) {
                e.preventDefault();
                window.location.href = `ExportHasilPerekamanToExcel?nop=${nop}&month=${month}&year=${year}`
                //$.ajax({
                //    url: '/User/ExportHasilPerekamanToExcel',
                //    data: { nop: nop, month: month, year: year },
                //    type: 'POST',
                //    dataType: 'JSON',
                //    success: function (e) {
                //        if (e != null && e != undefined) {

                //        }
                //    }
                //});
            });

            $.ajax({
                url: '/User/FindNopUserApp',
                type: 'POST',
                dataType: 'JSON',
                success: function (e) {
                    if (e != undefined && e != null) {
                        var optionNop = $("select#nop");
                        optionNop.append("<option val=''>-- Pilih Nop --</option>");
                        for (var iNop = 0; iNop < e.resultDetail.length; iNop++) {
                            var maxLength = 65;
                            var textValue = e.resultDetail[iNop].nop + " - " + e.resultDetail[iNop].Nama_Obyek;
                            if (textValue.length > maxLength) {
                                textValue = textValue.substr(0, 65) + "...";
                            }
                            optionNop.append($("<option />").val(e.resultDetail[iNop].nop).text(textValue));
                        }
                    }
                }
            });

            $.ajax({
                url: '/User/GetListMonth',
                type: 'POST',
                dataType: 'JSON',
                success: function (e) {
                    var optionsMonth = $("#month");
                    for (var iMonth = 0; iMonth < e.monthValue.length; iMonth++) {
                        optionsMonth.append($("<option />").val(e.monthValue[iMonth]).text(e.monthName[iMonth]));
                    }

                    var optionsYear = $("#year");
                    for (var iYear = 0; iYear < e.years.length; iYear++) {
                        optionsYear.append($("<option />").val(e.years[iYear]).text(e.years[iYear]));
                    }
                }
            });

            $('#TableTransactionContainer').jtable({
                title: 'Transaction List',
                paging: true, //Enable paging
                //pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Name ASC', //Set default sorting
                actions: {
                    listAction: '/User/TransactionList'
                },
                fields: {
                    Detail: {
                        title: 'Detail',
                        width: '5%',
                        sorting: false,
                        edit: false,
                        create: false,
                        listClass: 'center',
                        display: function (transData) {
                            //Create an image that will be used to open child table
                            var $img = $('<img height="42" width="42" src="/Content/images/detail.png" title="Detail Transactions" />');
                            //Open child table when user clicks the image
                            $img.click(function () {
                                $('#TableTransactionContainer').jtable('openChildTable',
                                    $img.closest('tr'),
                                    {
                                        title: transData.record.Username + ' - Transaction',
                                        paging: true,
                                        pageSize: 10, //Set page size (default: 10)
                                        actions: {
                                            listAction: function (postData, jtParams) {
                                                return $.Deferred(function ($dfd) {
                                                    $.ajax({
                                                        url: '/User/TransactionDetailList?date=' + transData.record.StrTanggal + '&nop=' + transData.record.Nop + '&jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize,
                                                        type: 'POST',
                                                        dataType: 'json',
                                                        data: postData,
                                                        success: function (data) {
                                                            $dfd.resolve(data);
                                                        },
                                                        error: function () {
                                                            $dfd.reject();
                                                        }
                                                    });
                                                });
                                            }
                                        },
                                        toolbar: {
                                            items: [{
                                                tooltip: 'Download Excel',
                                                text: 'Export to Excel',
                                                click: function () {
                                                    window.location.href = "@Url.RouteUrl(new
                                                                           { Controller = "User", Action = "ExportDetailToExcel" })/?date=" + transData.record.StrTanggal + "&nop=" + transData.record.Nop;
                                                }
                                            }]
                                        },
                                        fields: {
                                            Record_Data: {
                                                title: 'Data',
                                                display: function (e) {
                                                    if (transData.record.Is_Adjusment) {
                                                        return 'Already Adjust'
                                                    } else {
                                                        return e.record.Record_Data;
                                                    }
                                                }
                                            }
                                        },
                                    }, function (data) { //opened handler
                                        data.childTable.jtable('load');
                                    });
                            });
                            //Return image to show on the person row
                            return $img;
                        }
                    },
                    Nop: {
                        title: 'NOP',
                        key: true,
                        create: false,
                        edit: false,
                        list: true
                    },
                    Tanggal: {
                        list: false
                    },
                    StrTanggal: {
                        title: 'Tanggal',
                        key: false,
                        create: false,
                        edit: false,
                        list: true,
                    },
                    strPajak_Terutang: {
                        title: 'Pajak Terhutang',
                        key: false,
                        create: false,
                        edit: false,
                        list: true
                    },
                    Pajak_Terutang: {
                        title: 'Pajak Terhutang',
                        key: false,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Keterangan: {
                        title: 'Keterangan',
                        key: false,
                        create: false,
                        edit: false,
                        list: true
                    },
                    Is_Adjusment: {
                        list: false
                    },
                    File_Adjustment: {
                        list: false
                    },
                    CreateDate: {
                        title: 'Create Date',
                        key: false,
                        create: false,
                        edit: false,
                        list: true,
                        type: 'date',
                        displayFormat: 'yy-mm-dd'
                    },
                    Ip_Sender: {
                        title: 'IP Sender',
                        key: false,
                        create: false,
                        edit: false,
                        list: true
                    },
                },
                 toolbar: {
                     items: [{
                         tooltip: 'Download Excel',
                         text: 'Export to Excel',
                         click: function () {
                             window.location.href = "@Url.RouteUrl(new
                                                    { Controller = "User", Action = "ExportHasilPerekamanToExcel" })/?nop=" + nop + "&month=" + month + "&year=" + year;
                         }
                     }]
                 },
                recordsLoaded: function (event, data) {
                    var total = 0;
                    var items = data.serverResponse['Records'];
                    $.each(items, function (index, value) {
                        total += parseFloat(value.Pajak_Terutang);
                    });
                    total = Math.round(total);
                    $('#totalbayar').html('Rp. ' + total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                }
            })
            $('#TableTransactionContainer').jtable('load');
        });

        function DownloadExcelDetail(tgl, nop) {
            $.ajax({
                url: "/User/ExportDetailToExcel",
                data: { date: tgl, nop: nop },
                type: 'POST',
                dataType: 'JSON',
                success: function (e) {

                }
            });
        }

        function number_format(number, decimals, decPoint, thousandsSep) {

            decimals = decimals || 0;
            number = parseFloat(number);

            if (!decPoint || !thousandsSep) {
                decPoint = '.';
                thousandsSep = ',';
            }

            var roundedNumber = Math.round(Math.abs(number) * ('1e' + decimals)) + '';
            var numbersString = decimals ? roundedNumber.slice(0, decimals * -1) : roundedNumber;
            var decimalsString = decimals ? roundedNumber.slice(decimals * -1) : '';
            var formattedNumber = "";

            while (numbersString.length > 3) {
                formattedNumber += thousandsSep + numbersString.slice(-3)
                numbersString = numbersString.slice(0, -3);
            }

            return (number < 0 ? '-' : '') + numbersString + formattedNumber + (decimalsString ? (decPoint + decimalsString) : '');
        }
    </script>
}

