@*@using CaptchaMvc.HtmlHelpers*@
@{
    ViewBag.Title = "PerananMasyarakat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>
        Dashboard
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            overview &amp; stats
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <i class="ace-icon fa fa-check green"></i>

        <strong class="green">
            Dashboard Pajak Online
            <small>(v1.0)</small>
        </strong>,
        Laman ini memuat partisipasi masyarakat
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
            </div><!-- /.page-header -->
            <div class="alert alert-block notif">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong class="strong">
                    <span id="notif"></span>
                </strong>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="nama" class="col-md-3 control-label">Nama Pelapor</label>
                    <div class="col-md-5">
                        <input type="text" id="nama" class="form-control" />
                        <span id="errNama" class="red" hidden></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Alamat" class="col-md-3 control-label">Alamat</label>
                    <div class="col-md-5">
                        <input type="text" id="Alamat" class="form-control" />
                        <span id="errAlamat" class="red" hidden></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Hp" class="col-md-3 control-label">No. Handphone</label>
                    <div class="col-md-5">
                        <input type="text" id="Hp" class="form-control" />
                        <span id="errHp" class="red" hidden></span>
                    </div>
                </div>
                <hr />
                <br />
                <div class="form-group">
                    <label for="nop" class="col-md-3 control-label">
                        NAMA USAHA / NOP 
                    </label>
                    <div class="col-md-9">
                        <input type="text" id="nops" list="nop" class="form-control" />
                        <datalist id="nop">
                            <select id="nop" name="nop" class="form-control"></select>
                        </datalist>
                        <span id="errNop" class="red" hidden></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tgl" class="col-md-3 control-label">Tanggal</label>
                    <div class="col-md-5">
                        <div class='input-group date'>
                            <input type='text' class="form-control" id='tgl' />
                            <span id="errDate" class="red" hidden></span>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nobill" class="col-md-3 control-label">No. Bill</label>
                    <div class="col-md-5">
                        <input type="text" id="nobill" class="form-control" />
                        <span id="errNoBill" class="red" hidden></span>
                    </div>
                </div>               
                <div class="form-actions text-right pal">
                    <input type="button" id="btnSearch" onclick="CheckForm();" class="btn btn-sm btn-success" value="Cari" />
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.notif').hide();
            $('#tgl').datepicker({
                changeYear: true,
                format: "dd/MM/yyyy"
            });

            $.ajax({
                url: '/User/FindNop',
                type: 'POST',
                dataType: 'JSON',
                success: function (e) {
                    if (e != undefined && e != null) {
                        var optionNop = $("#nop");
                        for (var iNop = 0; iNop < e.resultDetail.length; iNop++) {
                            optionNop.append($("<option />").val(e.resultDetail[iNop].NAMAOP + " - " + e.resultDetail[iNop].ALAMATOP + "/" + e.resultDetail[iNop].NOP).text(e.resultDetail[iNop].NOP));
                        }
                    }
                }
            });
        });

        $("#nops").change(function () {
            if ($("#nops").val() != "") {
                $("#errNop").attr("hidden", "hidden");
            } else {
                $("#errNop").removeAttr("hidden").text("NOP harus diisi");
            }
        });

        $("#tgl").change(function () {
            if ($("#tgl").val() != "") {
                $("#errDate").attr("hidden", "hidden");
            } else {
                $("#errDate").removeAttr("hidden").text("Tanggal transaksi harus diisi");
            }
        });

        $("#nobill").change(function () {
            if ($("#nobill").val() != "") {
                $("#errNoBill").attr("hidden", "hidden");
            } else {
                $("#errNoBill").removeAttr("hidden").text("No. Bill harus diisi");
            }
        });

        function CheckForm() {
            var nop = document.getElementById('nops').value;
            var tgl = document.getElementById('tgl').value;
            var nobill = document.getElementById('nobill').value;
            var isComplete = false
            if (nop == "" || nop == null) {
                isComplete = false;
                $("#errNop").removeAttr("hidden").text("NOP harus diisi");
            } else {
                isComplete = true;
                $("#errNop").attr("hidden", "hidden");
            }
            if (tgl == "" || tgl == null) {
                isComplete = false;
                $("#errDate").removeAttr("hidden").text("Tanggal transaksi harus diisi");
            } else {
                isComplete = true;
                $("#errDate").attr("hidden", "hidden");
            }
            if (nobill == "" || nobill == null) {
                isComplete = false;
                $("#errNoBill").removeAttr("hidden").text("No. Bill harus diisi");
            } else {
                isComplete = true;
                $("#errNoBill").attr("hidden", "hidden");
            }

            if (isComplete) {
                FindingResult(nop, tgl, nobill);
            }
        }

        function FindingResult(nop, tgl, nobill) {
            $.ajax({
                url: '/User/FindResult',
                data: { nop: nop, tgl: tgl, nobill: nobill },
                type: 'POST',
                dataType: 'JSON',
                beforeSend: function () {
                    $.blockUI({
                        css: {
                            border: 'none',
                            padding: '15px',
                            backgroundColor: '#000',
                            '-webkit-border-radius': '10px',
                            '-moz-border-radius': '10px',
                            opacity: .5,
                            color: '#fff'
                        }
                    });
                },
                complete: function () { $.unblockUI(); },
                success: function (e) {
                    if (e != undefined && e != null) {
                        $('.notif').show();
                        var notif = $('span#notif');
                        var textStrong = $('.strong');
                        notif.text(e.message);
                        if (e.isFound) {
                            //notif.text(e.message);
                            notif.removeClass("alert-error");
                            notif.addClass("alert-success");
                            textStrong.removeClass("red");
                            textStrong.addClass("green");
                        } else {
                            //notif.text(e.message);
                            notif.removeClass("alert-success");
                            notif.addClass("alert-error");
                            textStrong.removeClass("green");
                            textStrong.addClass("red");
                        }
                    }
                }
            });
        }
    </script>
}
