@model POWebClient.Models.UserClientViewModels
@{
    ViewBag.Title = "ProfileUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="~/Content/jtable240/themes/lightcolor/blue/jtable.min.css" />
    <style type="text/css">
        form.jtable-dialog-form div.jtable-input {
            padding: 2px;
            width: 350px;
        }

        input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], textarea {
            border-radius: 0 !important;
            color: #858585;
            background-color: #FFF;
            border: 1px solid #D5D5D5;
            padding: 5px 4px 6px;
            font-size: 14px;
            font-family: inherit;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            -webkit-transition-duration: .1s;
            transition-duration: .1s;
            width: 350px;
        }
        .jtable-input-readonly {
            background-color: lightgray;
        }
    </style>
}
<div class="page-header">
    <h1>
        Profile User
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            overview &amp; stats
        </small>
    </h1>
</div><!-- /.page-header -->
<div class="col-xs-12">
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <i class="ace-icon fa fa-check green"></i>
        <strong class="green">
            Dashboard Pajak Online
            <small>(v1.0)</small>
        </strong>,
        Laman ini memuat data user
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <div class="row">
                    <div id="ProfileTableContainer"></div>
                </div>
            </div><!-- /.page-header -->
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Content/jtable240/jquery.jtable.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ProfileTableContainer').jtable({
                title: 'List Profile User',
                paging: true, //Enable paging
                sorting: true, //Enable sorting
                defaultSorting: 'Name ASC',
                actions: {
                    listAction: '/User/GetProfileUser',
                    updateAction: '/User/UpdateProfile'
                },
                fields: {
                    Username: {
                        title: 'Username',
                        edit: true,
                        input: function (data) {
                            if (data.value) {
                                return '<input type="text" readonly class="jtable-input-readonly" name="Username" value="' + data.value + '"/>';
                            }
                        },
                    },
                    Email: {
                        title: 'Email'
                    },
                    Phone: {
                        title: 'Handphone'
                    },
                    Nama_Bank: {
                        title: 'Nama Bank',
                        edit: true,
                        input: function (data) {
                            if (data.value) {
                                return '<input type="text" readonly class="jtable-input-readonly" name="Nama_Bank" value="' + data.value + '"/>';
                            }
                        },
                    },
                    Kode_Bank: {
                        list: false,
                        edit: false                        
                    }
                }
            });
            $('#ProfileTableContainer').jtable('load');
        });
    </script>
}